include CHANGES LICENSE
recursive-include src *.pyx
recursive-include tests *.py

include *.txt
include *.yml
include Makefile
include tox.ini
include pytest.ini

recursive-include benchmark *.py
recursive-include docs *.bat
recursive-include docs *.conf
recursive-include docs *.css_t
recursive-include docs *.html
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-exclude src *.c
recursive-exclude scripts *.py
recursive-exclude docs/_build *
